<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSCRUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAB580CA1D592E970041D8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB580E31D592E9A0041D8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB580EE1D592E9B0041D8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
