<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>54100118935-crju1ht3649vecjnpkla9qo8cpt75gdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54100118935-crju1ht3649vecjnpkla9qo8cpt75gdm</string>
	<key>API_KEY</key>
	<string>AIzaSyDFXaGifFMex1RhqQJ1ByDRj__IDrs63uM</string>
	<key>GCM_SENDER_ID</key>
	<string>54100118935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RavenDesign.testApp.iOSCRUD</string>
	<key>PROJECT_ID</key>
	<string>ioscrud-76123</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscrud-76123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:54100118935:ios:89acc8b9ee40a4f2</string>
	<key>DATABASE_URL</key>
	<string>https://ioscrud-76123.firebaseio.com</string>
</dict>
</plist>